h2 {
    font-family: system-ui;
    font-size: 2rem;
    text-align: center;
    color: rgb(23, 40, 94);
    flex-grow: 1;
}

.header {
    display: flex;
}

img {
    height: 90px;
    width: 90px;
    transform: rotate(15deg);
    display: flex;
    justify-content: end;
}

.card {
    margin: 1rem auto;
    padding: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 30%;
}

.container {
    padding: 8rem 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 1rem;
    color: rgb(23, 40, 94);
}

input {
    height: 2rem;
    width: 60%;
    border-radius: 40px;
    border: 2px solid rgb(52, 106, 144);
}

input::placeholder {
    font-family: system-ui;
    font-size: 1rem;
    padding-left: 0.7rem;
    color: rgb(23 40 94 / 60%);
}

@media (max-width: 600px) {
    .card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .card-image {
        margin-left: 0;
        margin-top: 16px;
    }
}