section {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.card {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 20px;
    margin: 1rem 0;
    text-align: center;
    height: fit-content;
}

.name {
    font-size: 2rem;
    border: solid 5px black;
    border-radius: 20px;
    display: inline-block;
    margin: 1.2rem;

    h2 {
        margin: 5px 25px;
        font-size: 2rem;
    }
}

.h-w {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1.5rem;

    .height, .weight {
        display: flex;
        flex-direction: column;
        border: solid 5px black;
        border-radius: 20px;

        p:first-child {
            margin-top: 0.4rem;
        }

        p:last-child {
            margin-bottom: 0.4rem;
        }
    }

    .height>p, .weight>p {
        margin: -5px 20px;
        padding: 5px;
    }
}

.types>ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 2rem;

    li {
        border: solid 5px black;
        border-radius: 20px;
        padding: 15px;
    }
}

.image {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    border: solid 5px black;
    border-radius: 20px;
    margin: 2rem;

    img {
        width: 20rem;
        height: 20rem;
    }
}

.moves>ul {
    list-style: none;
    text-align: justify;
    column-count: 4;
    column-gap: 1rem;
}

.fire {
    background-color: rgb(241 135 1 / 15%);
    box-shadow: rgb(243 91 4 / 40%) 0px 8px 24px;
}

