<section>

    <div class="container">
            <app-button [className]="'button'" (buttonClick)="showRandomPokemon()" >Random Pokemon</app-button>
            <app-button [className]="'button'" routerLink="/submit-pokemon" >Submit your own Pokemon</app-button> 

           <form (submit)="$event.preventDefault()">
                <div class="search-container">
                    <input 
                    type="text" 
                    placeholder="Search by Pokemon name..." 
                    #filter
                    (keyup.enter)="filterResults(filter.value)"
                    />
                    <app-button [btnType]="'button'" [className]="'poke-button'" (buttonClick)="filterResults(filter.value)"><img src="assets/pokeball.png" alt="Pokeball" /></app-button>
                </div>
            </form> 
    </div>
    
    <div class="pokecards">  
        <ng-container *ngIf="randomPokemon; else pokemonListTemplate">
            <app-pokecard [pokemonType]="randomPokemon" class="centered-card"></app-pokecard>
        </ng-container>
      
        <ng-template #pokemonListTemplate>
            <app-pokecard *ngFor="let pokemon of filteredPokemonList" [pokemonType]="pokemon">
            </app-pokecard>
        </ng-template>
    </div>

</section>